@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<MIcon>mdi-alarm</MIcon>

<MAlert Color="#2A3B4D" Icon="@("mdi-firework")">
    Hello World!
</MAlert>
<br/>
<MBadge Color="error" Icon="mdi-lock"></MBadge>
<MBadge Color="error" Icon="mdi-lock"></MBadge>


<SurveyPrompt Title="How is Blazor working for you?" />
